<footer>
          <section class="table">
 <ul class="t1">
     <span>Company</span>
     <li> <a href="">About us</a></li>  
     <li><a href="">Contact us</a></li>  
   
     <li></li>
 </ul>
             
              
 <ul class="t2">
     <span>Products</span>
     <li><a href="">Features</a></li>  
     <li> <a href="">Pricing</a></li>  
   
 </ul>
               
    
         
 <ul  class="t3">
     <span>Services</span>
     <li><a href="">Digital Marketing</a></li>  
     <li><a href="">Content Writing</a></li>  
     
 </ul>
     
          
                
                 
            
 <ul class="t4">
     <span>Legal</span>
     <li><a href="">Privacy Policy</a></li>  
     <li> <a href="">Terms & Conditions</a></li>  
      
 </ul>
     
         
 <ul class="t5">
     <span>Contact us</span>
     <li> <a href="">support<br>
         +133-394-3439-1435</a> </li>   
        
 </ul>
</section> 
<section class="contfooter">
 <p>© 2024 Copyright, All Right Reserved </p>
</section>
</footer>
