<header>
  <div class="date">
    <p>Today's Date: {{ currentDate | date:'fullDate'}}</p>
    </div>
            <nav>
              <a href="/" class="logo"><img style="width: 120px" [src]="imgSrc" alt="logo" /> </a>
              <div class="navss" id="links">
                <ul>
                 <li><a routerLink="/home">Home</a></li>
                 <li><a routerLink="/where-to-go">Where To Go</a></li>
                 <li><a routerLink="/egypt-day-tours">Egypt Day Tours</a></li>
                 <li><a routerLink="/contact-us">Contact Us</a></li>
                 <li><a routerLink="/login">Login</a></li>
                </ul>
              </div>
            </nav>
</header>