:root {
  --blue-color: #0b405e;
  --blue-color2: #007bff;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling if there's overflow */
}

.main-btn {
  padding: 0.5rem, 1rem;
  background-color: var(--blue-color);
  color: white;
}
.main-btn:hover {
  color: white;
  background-color: var(--blue-color);
  text-decoration: underline;
}

.span-style {
  color: var(--blue-color2);
}

/* Start section Places */

.places .cover-egy {
  background: url("https://www.traveltoegypt.net/uploads/siteContent/1607944287egypt-day-tours.jpg")
    no-repeat center center;
  background-size: cover;
  height: 400px;
}

.places .cover-egy h1 {
  width: 100%;
  top: 100px;
  left: 30px;
  font-size: 64px;
  font-weight: 400;
}

.places .cover-egy h1.animated-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 0.7s ease-in-out 0.5s forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.places {
  background-color: #f8f9fa;
}

.box {
  padding: 5px;
  overflow: hidden;
  border: 2px solid black;
  height: 275px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.box .mask {
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  overflow: hidden;

  background-color: rgb(255 255 255 / 60%);
  transform: translateX(calc(-100% - 5px));
  transition: 0.3s;
}

.box:hover .mask {
  transform: translateX(0);
}

.box .mask .text h5 {
  color: var(--blue-color2);
  font-weight: 600;
}

/* End section Places */

/* Media Queryes */

/* Extra small devices (phones, 0px and up) */
@media (max-width: 575.98px) {
  .row .col-md-6 {
    margin-bottom: 2rem;
  }

  span,
  .span-style {
    font-size: 18px;
  }

  .box {
    margin: 0 20px;
  }
}
