<div class="where-to-go">
  <!-- Start Section Welcome -->
  <header>
    <div class="image">
      <h1 class="animated-drop">Welcome to Egypt</h1>
      <div class="blur">
        <p class="animated-left blurred-background mb-5">
          Egypt is a country rich in history, culture, and breathtaking
          landscapes. Its most iconic destination is the Pyramids of Giza, a
          testament to the ancient Egyptians' architectural genius. Cairo, the
          bustling capital, is home to the impressive Egyptian Museum, housing
          thousands of ancient artifacts, including the treasures of King
          Tutankhamun. Luxor, often called the world’s greatest open-air museum,
          offers visitors the awe-inspiring Karnak Temple and the Valley of the
          Kings, where pharaohs were laid to rest. For those seeking relaxation,
          the Red Sea resorts of Hurghada and Sharm El Sheikh offer stunning
          coral reefs, making Egypt a premier destination for snorkeling and
          diving. Whether exploring the wonders of ancient civilizations or
          enjoying the natural beauty of the desert and sea, Egypt offers a
          diverse range of attractions
        </p>
      </div>
    </div>
  </header>
  <!-- Start Section Welcome -->

  <!-- Start Seciotn discover -->
  <section class="discover">
    <h2 class="discover-heading">Discover New Places !</h2>
    <div class="containerr mb-4">
      <div class="card animated-drop">
        <div class="zoom">
          <img
            src="https://images.pexels.com/photos/28873003/pexels-photo-28873003/free-photo-of-ancient-egyptian-stone-carvings-in-luxor-temple.jpeg?auto=compress&cs=tinysrgb&w=600"
          />
        </div>

        <h3>Luxor</h3>
        <p>
          Luxor, known as the world’s greatest open-air museum, boasts ancient
          temples, tombs, and rich history.
        </p>
        <a [routerLink]="['/go-luxor']"><button>Learn More!</button></a>
      </div>
      <div class="card animated-drop">
        <div class="zoom">
          <img
            src="https://images.pexels.com/photos/7974685/pexels-photo-7974685.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>
        <h3>Sharm El-sheikh</h3>
        <p>
          Sharm El Sheikh is a beautiful resort town in Egypt, famous for diving
          and beaches.
        </p>
        <a [routerLink]="['/go-sharm']"><button>Learn More!</button></a>
      </div>
      <div class="card animated-drop mb-4">
        <div class="zoom">
          <img
            src="https://images.pexels.com/photos/20840208/pexels-photo-20840208/free-photo-of-6th-october-bridge-in-cairo.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>
        <h3>Cairo</h3>
        <p>
          Cairo, Egypt's bustling capital, is renowned for its ancient history,
          pyramids, and vibrant culture.
        </p>
        <a [routerLink]="['/go-cairo']"><button>Learn More!</button></a>
      </div>
    </div>
  </section>
  <!-- End Seciotn discover -->

  <!-- Start Section Luxor -->
  <div class="luxor">
    <div class="luxor-cover position-relative">
      <h2 class="animated-left position-absolute text-uppercase">Luxor</h2>
    </div>

    <div class="start-des py-5">
      <div class="text">
        <h2>Egypt’s Open-Air Museum</h2>
        <p class="text-black-50">
          Soak in the sunshine, sink into glorious sunsets, and sail back in
          time. Luxor, Egypt’s open-air museum, holds the memories and
          chronicles of ancient Egyptian gods and royalty. Split into two
          halves, the East Bank and West Bank, by the River Nile, Luxor never
          fails to mesmerize its visitors. Be prepared to wander through the
          hallowed halls of time and feel very small standing in the shadows of
          this city’s massive painted columns, statues, and walls decorated with
          beautiful reliefs.
        </p>
      </div>
      <div class="images-grid my-4">
        <img
          src="https://images.pexels.com/photos/18991540/pexels-photo-18991540/free-photo-of-a-narrow-alley-between-two-walls-with-reliefs-in-a-temple.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Ancient Egyptian columns"
          class="image-1"
        />
        <img
          src="https://images.pexels.com/photos/15188105/pexels-photo-15188105/free-photo-of-hot-air-balloons-over-a-city.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Ship sail"
          class="image-2"
        />
        <img
          src="https://images.pexels.com/photos/21668633/pexels-photo-21668633/free-photo-of-ancient-columns-in-luxor-in-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Colorful ball on grass"
          class="image-3"
        />
        <img
          src="https://images.pexels.com/photos/3214970/pexels-photo-3214970.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Egyptian statues at night"
          class="image-4"
        />
      </div>
    </div>

    <div class="need-to-see mb-5">
      <h2>What you need to see</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://images.pexels.com/photos/18991512/pexels-photo-18991512/free-photo-of-facade-of-the-temple-of-ramesses-ii-luxor-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <div class="text">
            <h2>East Bank</h2>
            <p>
              Stroll through the halls and courtyards of Luxor and Karnak
              Temples, the most revered sites in Luxor.
            </p>
          </div>
        </div>

        <div class="box">
          <img
            src="https://images.pexels.com/photos/18934723/pexels-photo-18934723/free-photo-of-sphinxes-in-karnak-temple-complex-in-luxor-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <div class="text">
            <h2>West Bank</h2>
            <p>
              Ferry from the land of the living on the East Bank to the holy
              burial grounds on the West Bank.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="dicover-dems mb-5">
      <h2>Dicover Hidden Gems</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://images.pexels.com/photos/15188096/pexels-photo-15188096/free-photo-of-hot-air-balloons-in-luxor-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <p class="fs-5">
            Watch an unforgettable sunrise from a hot air balloon.
          </p>
        </div>
        <div class="box">
          <img
            src="https://images.pexels.com/photos/18868633/pexels-photo-18868633/free-photo-of-juice-on-table.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <p class="fs-5">
            Catch the sunset from a rooftop hotel restaurant overlooking Luxor
            Temple.
          </p>
        </div>
        <div class="box">
          <img
            src="https://images.pexels.com/photos/2402916/pexels-photo-2402916.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <p class="fs-5">
            Take a ride on a horse drawn carriage known as the caleche or
            hantour, Luxor’s version of a taxi.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Luxor -->

  <!-- Start Section Cairo -->
  <div class="cairo">
    <div class="cairo-cover position-relative">
      <h2 class="animated-left position-absolute text-uppercase">Cairo</h2>
    </div>

    <div class="start-des py-5">
      <div class="text">
        <h2>
          From ancient wonders to modern neighborhoods, discover Egypt’s beating
          heart
        </h2>
        <p class="text-black-50">
          Cairo is the capital of Egypt and one of the world’s largest
          megacities, with a vast metropolitan area stretching out as Greater
          Cairo to include Giza and the outer suburbs that have developed to the
          east and west of the city center. The beating heart of the city is
          nestled and centered around the banks of Egypt’s majestic River Nile
          and its glistening waters that have served as a lifeline for Egyptians
          since the dawn of human civilization.
        </p>
      </div>
      <div class="images-grid my-4">
        <img
          src="https://images.pexels.com/photos/25462119/pexels-photo-25462119/free-photo-of-mosque-madrasa-of-sultan-hassan-cairo-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Ancient Egyptian columns"
          class="image-1"
        />
        <img
          src="https://images.pexels.com/photos/9824451/pexels-photo-9824451.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Ship sail"
          class="image-2"
        />
        <img
          src="https://images.pexels.com/photos/27520671/pexels-photo-27520671/free-photo-of-cafe.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Colorful ball on grass"
          class="image-3"
        />
        <img
          src="https://images.pexels.com/photos/6679679/pexels-photo-6679679.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="Egyptian statues at night"
          class="image-4"
        />
      </div>
    </div>

    <div class="need-to-see mb-5">
      <h2>What you need to see</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://images.pexels.com/photos/7032640/pexels-photo-7032640.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <div class="text">
            <h2>Historic Cairo</h2>
            <p>
              Witness the richness of the city’s Islamic and Coptic historical
              sites, marveling at the “City of a Thousand Minarets.”
            </p>
          </div>
        </div>

        <div class="box">
          <img
            src="https://images.pexels.com/photos/20634390/pexels-photo-20634390/free-photo-of-view-of-the-talaat-harb-street-in-cairo-egypt.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
          <div class="text">
            <h2>Downtown Cairo & City Breaks</h2>
            <p>
              Visit the true soul of Cairo and hit the streets of its
              contemporary, upscale neighborhoods.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="dicover-dems mb-5">
      <h2>Dicover Hidden Gems</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://th.bing.com/th/id/OIP.u6pGYrhDUp5gWp8KCEtGsQAAAA?rs=1&pid=ImgDetMain"
            alt=""
          />
          <p class="fs-5">
            Grab a bite to eat in one of Cairo’s rooftop restaurants and cafes
            for some panoramic views of the bustling city.
          </p>
        </div>
        <div class="box">
          <img
            src="https://www.egypttoursportal.com/images/2018/03/Festivals-and-Holidays-in-Egypt-Egypt-Tours-Portal.jpg"
            alt=""
          />
          <p class="fs-5">
            Catch an authentic whirling dervishes performance at Wikalat
            al-Ghuri.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Cairo -->

  <!-- Start Section Sharm -->
  <div class="sharm">
    <div class="sharm-cover position-relative">
      <h2 class="animated-left position-absolute text-uppercase">
        Sharm el-Sheikh
      </h2>
    </div>

    <div class="start-des py-5 pb-3">
      <div class="text">
        <h2>The Red Sea’s charming city of peace</h2>
        <p class="text-black-50">
          World-renowned for the picturesque marine life that thrives under its
          turquoise blue waters, Sharm al-Sheikh is a captivating Egyptian Red
          Sea resort city nestled between Ras Muhammad National Park and the
          Nabq Protectorate. “Sharm”, as it’s referred to by Egyptians, first
          appeared on the tourist map in the 1980’s, but back then, it was
          mostly visited by dive enthusiasts who were captivated by its
          magnificent coral reefs and virgin beaches.
        </p>
      </div>
      <div class="images-grid my-4">
        <img
          src="https://cdn.getyourguide.com/img/tour/1e1b8ee79e91e8ace564405e213d292a99b2369f304e2197c3e08de80b6227e7.jpeg/145.jpg"
          alt="Ancient Egyptian columns"
          class="image-1"
        />
        <img
          src="https://www.marsaalamtours.com/data1/images/Makadi-Excursions/4.jpg"
          alt="Ship sail"
          class="image-2"
        />
        <img
          src="https://th.bing.com/th/id/OIP.RxSLPwc3AzPn5fB9LZLDFAHaE8?w=293&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
          alt="Colorful ball on grass"
          class="image-3"
        />
        <img
          src="https://th.bing.com/th/id/OIP.a4vB5UL-nxXgrEnaX4j9OwHaEK?rs=1&pid=ImgDetMain"
          alt="Egyptian statues at night"
          class="image-4"
        />
      </div>
    </div>

    <div class="need-to-see mb-5">
      <h2>What you need to see</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://th.bing.com/th/id/OIP.D5aGBZbi0eJSK3kg7q3D6AHaE8?w=278&h=185&c=7&r=0&o=5&dpr=1.3&pid=1.7"
            alt=""
          />
          <div class="text">
            <h2>Beaches, Snorkeling & Diving</h2>
            <p>
              Sunbathe under clear blue skies or dive into the sea and marvel at
              the kaleidoscope of marine life underneath the water.
            </p>
          </div>
        </div>

        <div class="box">
          <img
            src="https://th.bing.com/th/id/OIP.52BTt-afSpIasVZjb__nUAHaE8?rs=1&pid=ImgDetMain"
            alt=""
          />
          <div class="text">
            <h2>Adventure & Activities</h2>
            <p>
              Play a leisurely game of golf, go soaring across sand dunes, or
              get a birds-eye view of the bays from a parachute.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="dicover-dems mb-5">
      <h2>Dicover Hidden Gems</h2>
      <div class="boxes">
        <div class="box">
          <img
            src="https://th.bing.com/th/id/OIP.8gDfPmE8h8cCeU9ntC6wAAHaE8?rs=1&pid=ImgDetMain"
            alt=""
          />
          <p class="fs-5">
            Take a boat trip to White Island off the coast of Ras Muhammad—it’s
            only visible during low tide.
          </p>
        </div>
        <div class="box">
          <img
            src="https://th.bing.com/th/id/R.0087d86b9abd971f9ebfa1155b122f6d?rik=feNqNPW6Vf5Xeg&pid=ImgRaw&r=0"
            alt=""
          />
          <p class="fs-5">
            Go on a spiritual journey with a sunrise trek up to the top of Mount
            St Catherineit’s only two and a half hours away by car or bus.
          </p>
        </div>
        <div class="box">
          <img
            src="https://live.staticflickr.com/155/330809453_263503de6a_b.jpg"
            alt=""
          />
          <p class="fs-5">
            Head to the Old Market and shop for local souvenirs and spices you
            didn’t even know existed.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Sharm -->
</div>
