/* .custom-form {
    width: 60%;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba( 0 , 0 , 0 , 0.1 );

}

.form-group input{

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.form-group label{
    font-weight:500;
    padding: 10px;
    color:rgb(4, 72, 162) ;
} */
/* ================================= */

.login {
  width: 400px;
  background-color: #0b405e;
  height: 400px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.form-group label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 17px;
  padding: 10px 0;
  padding-left: 10px;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  color: white;
}

button {
  background-color: rgb(45, 126, 231);
  line-height: 35px;
  border-radius: 40px;
  color: white;
  margin-top: 30px;
  font-size: 18px;
}
