/* Start Global */
:root {
  --blue-color: #0b405e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* End Global */

.aqua-park-tour .title-price {
  display: flex;
  justify-content: space-between;
}

.aqua-park-tour .title-price .price {
  font-weight: 600;
  font-size: 26px;
  color: #ff7600;
  border: 1px solid #ff7600;
  padding: 10px 30px 10px 30px;
}
.aqua-park-tour .title-price .title-hour h4 {
  color: #ff7600;
}

.aqua-park-tour .title-price .title-hour.animated-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 0.7s ease-in-out 0.5s forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aqua-park-tour .title-price .price.animated-right {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInRight 0.7s ease-in-out 0.5s forwards;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.aqua-park-tour .aqua-park-cover {
  height: 70vh;
  width: 100%;
  background: url("https://www.traveltoegypt.net/uploads/tour/1613391498aqua-park-in-sharm-el-sheikh.jpg")
    no-repeat center center;
  background-size: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.aqua-park-tour .row h2 {
  padding-block-end: 10px;
}

.aqua-park-tour .row .tour-info,
.aqua-park-tour .row .in-exclude-info,
.aqua-park-tour .row .need-help {
  padding: 20px;
  background-color: #f2fcff;
  box-shadow: 0 0 11px 0 rgb(155 155 155 / 42%);
}
.aqua-park-tour .row .in-exclude-info ul {
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
  list-style-type: circle;
}

.aqua-park-tour .row .in-exclude-info .exclude ul {
  margin-bottom: 10px;
}
.aqua-park-tour .row .in-exclude-info .exclude i {
  color: red;
}
.aqua-park-tour .row .in-exclude-info .include i {
  color: green;
}

.aqua-park-tour .row .need-help p {
  padding-block-end: 10px;
}
.aqua-park-tour .row .need-help .whats {
  color: #21c104;
}

.aqua-park-tour .row .need-help .to-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aqua-park-tour .row .need-help .btn {
  margin-top: 10px;
  border: 1px solid var(--blue-color);
  padding: 0.7rem 3rem;
}
.aqua-park-tour .row .need-help .btn a {
  color: var(--blue-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.aqua-park-tour .row .need-help .btn:hover a {
  text-decoration: underline;
}

@media (max-width: 575.98px) {
  .aqua-park-tour .title-price {
    margin: 0 20px;
    flex-direction: column;
  }
  .aqua-park-tour .title-price .price {
    margin-top: 10px;
  }
  .aqua-park-tour .row .need-help .to-inline {
    flex-direction: column;
  }

  .aqua-park-tour .title-price .title-hour {
    text-align: center;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .aqua-park-tour .title-price,
  .aqua-park-tour .row .need-help .to-inline {
    flex-direction: column;
  }
  .aqua-park-tour .title-price .price {
    margin-top: 10px;
  }
  .aqua-park-tour .title-price .title-hour {
    text-align: center;
  }
}

/* Medium devices (small laptops/tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .aqua-park-tour .title-price,
  .aqua-park-tour .row .need-help .to-inline {
    flex-direction: column;
  }
  .aqua-park-tour .title-price .price {
    margin-top: 10px;
  }
  .aqua-park-tour .title-price .title-hour {
    text-align: center;
  }
}

/* Start Form Book */
.Book {
  padding: 40px;
  background-color: #0b405e;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.form-group label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 0;
  padding-left: 10px;
}

.form-group input {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.6rem 1rem;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
  color: white;
}

button {
  background-color: rgb(45, 126, 231);
  padding: 0.4rem 1rem;
  border-radius: 40px;
  color: white;
  margin-top: 30px;
  font-size: 20px;
  width: 200px;
}

@media (max-width: 575.98px) {
  .form-group input {
    width: 100%;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .form-group input {
    width: 460px;
  }
}
/* End Form Book */
