/* Start global section */
:root {
  --blue-color: #0b405e;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 0.7s ease-in-out 0.5s forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* End global section */

/* start Welcome section */

.welcome_message h4 {
  width: fit-content;
  margin: 0 auto;
  font-size: 30px;
  padding: 5px 30px;
}

.welcome_message p {
  margin-top: 30px;
  padding: 15px;
}

.welcome_message h4,
.welcome_message p {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: rgb(0 0 0 / 61%);
}

.welcome_message h4.animated-drop {
  opacity: 0;
  transform: translateY(-100px);
  animation: dropDown 1s ease-in-out forwards;
}

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-55px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .welcome_message {
    display: block !important;
  }
}

/* End Welcome section */

/* Start Section About-Egypt */
.About_Egypt .text-about-egypt h2 {
  font-weight: 700;
  font-size: 40px;
}
.About_Egypt .text-about-egypt h6 {
  color: var(--blue-color);
  font-weight: 700;
}
.About_Egypt .text-about-egypt p {
  font-size: 17px;
}

.about-egypt-boxes .box {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  margin: 10px;
}
.about-egypt-boxes .box:hover {
  transform: translateY(-15px);
}
.about-egypt-boxes .box img {
  width: 100%;
}

.about-egypt-boxes .box .text-cards {
  padding: 20px;
  height: 220px;
}

/* End Section About-Egypt */

/* Start section Dicover-Egypt */
.discover-egypt {
  background-color: #eee;
  position: relative;
}
.cover-discover {
  width: 100%;
  height: 450px;
  background: url("https://www.traveltoegypt.net/uploads/siteContent/1664881588blackdesert-bahariya-oasis-1.jpg")
    no-repeat center center;
  background-size: cover;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.discover-egypt .cover-discover h1 {
  position: absolute;
  left: 50px;
  top: 150px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  transition: 0.4s all;
}

.discover-egypt .text h1 {
  font-weight: 600;
  padding-top: 20px;
}
.discover-egypt .text p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}

.video-container iframe {
  border-radius: 25px;
}

/* Start section Dicover-Egypt */

/* Start Section Where-to-go */

.where-go h1 {
  margin-bottom: 30px;
}

.where-go .card {
  width: 500px;
  margin: 0 auto;
  overflow: hidden; /* Ensures the overlay is contained within the card */
}

.where-go .card .text-btn {
  padding: 30px;
}

.where-go .card img {
  transition: transform 0.3s;
}
.where-go .card img:hover {
  transform: scale(1.1);
}

.where-go .text-btn .btn {
  background-color: var(--blue-color);
  color: white;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  border: none;
}
.where-go .text-btn .btn:hover {
  color: white;
  background-color: var(--blue-color);
  text-decoration: underline;
}

/* End Section Where-to-go */

/* Start Section Useful-Informations */
.useful_info {
  background-color: #eee;
}
.useful_info ul {
  background-color: var(--blue-color);
  width: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

.useful_info ul li {
  padding: 0.5rem 1.3rem;
  border-bottom: 2px solid white;
  transition: 0.3s;
}
.useful_info ul li:hover {
  transform: translateX(-10px);
}

.useful_info ul li a {
  color: white;
  margin: 10px 0;
  text-decoration: none;
}
.useful_info ul li:hover a {
  text-decoration: underline;
}

/* End Section Useful-Informations */

/* Start section Useful-Numbers */
.Useful_Numbers table {
  margin: 20px auto;
  background-color: var(--blue-color);
  color: white;
}
.Useful_Numbers table td {
  padding: 1rem 1.5rem;
}
.Useful_Numbers table,
.Useful_Numbers th,
.Useful_Numbers td {
  border: 1px solid white;
  padding: 8px;
}

.Useful_Numbers table td:first-child {
  text-align: left;
}

table td:last-child:hover {
  transition: 0.3s;
}
table td:last-child:hover {
  background-color: #007bff;
}
/* End section Useful-Numbers */

.btn-go-login {
  background-color: #007bff;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  transition: 0.5s;
}
.btn-go-login a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.btn-go-login:hover {
  transform: scale(1.1, 1.1);
  color: white;
}

/* Start Media Query */

/* Small devices (tablets, 576px and up) */
@media (max-width: 575.98px) {
  .col-md-6 .box {
    height: 520px;
  }

  .where-go .card {
    width: 400px;
  }

  .Useful_Numbers table td {
    padding: 1rem 0.5rem;
  }

  .discover-egypt .cover-discover h1 {
    left: 25px;
    top: 160px;
  }

  .video-container iframe {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .about-egypt-boxes .box {
    width: 80%;
    margin: 10px auto;
  }
  .about-egypt-boxes .box img {
    width: 100%;
  }
}

/* End Media Query */
