<div class="Home">
  <!-- Start Section Welcome -->
  <div class="welcome_message text-center text-white container d-none my-5">
    <h4 class="animated-drop text-uppercase">
      {{ welcomeMessage }}Welcome to Egypt
    </h4>
    <p class="animated-left">
      Egypt is the home of the mighty Nile and the magnificent pharaohs’
      civilization that captures the heart of the visitors. Since Egypt has
      countless extraordinary archaeological sites, you may get lost while
      searching for your next Egypt tours. Travel to Egypt team is here to help
      you organize Egypt travel packages that suit your plans and desires.
    </p>
  </div>
  <!-- End Section Welcome -->

  <!-- Start Section Slider -->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/images/slide1.jpeg"
          class="d-block w-100"
          alt="slide1"
        />
        <div class="carousel-caption d-md-block">
          <h2>Welcome To Egypt</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/slide2.jpeg"
          class="d-block w-100"
          alt="slide2"
        />
        <div class="carousel-caption d-md-block">
          <h2>Swim in Stunnig Shades of Blue</h2>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/images/slide3.jpeg"
          class="d-block w-100"
          alt="slide3"
        />
        <div class="carousel-caption d-md-block">
          <h2>Relive History</h2>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End Section Slider -->

  <!-- Start Section About-Egypt -->
  <div class="About_Egypt container">
    <div class="text-about-egypt text-center my-5">
      <h2>About Egypt</h2>
      <h6 class="mb-3">
        Discover the Warmth of Egypt & Make Lifelong Memories
      </h6>
      <p>
        A life well-travelled cannot be considered complete without at least one
        visit to Egypt! Egypt isn't just home to the oldest and best-preserved
        historical sites on earth, the country offers diverse holiday
        experiences catered to your travel preferences.You can enjoy an
        immersive urban experience in Cairo and Alexandria, discover some of the
        best snorkeling and scuba diving sites in the world in the Red Sea, get
        a taste of life on the Nile on personalized Nile cruises, or curate your
        own desert adventure. The energy, hospitality, and good humor of the
        Egyptian people are at the heart of any visit to Egypt, with sunny
        smiles etched onto the faces of nearly every person you will encounter.
        Expect multiple offers for homecooked meals, invites to weddings and
        parties, and a chance to make new friends as warm as the golden Egyptian
        sun.
      </p>
    </div>

    <div class="about-egypt-boxes my-5">
      <div class="row text-start">
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <img class="img-fluid" src="assets/images/About01.png" alt="" />
            <div class="text-cards">
              <h3>Geography</h3>
              <p>
                From the River Nile to the splendor of our vast deserts, and
                from the glistening waters at beaches to the rugged mountains.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <img class="img-fluid" src="assets/images/About02.png" alt="" />
            <div class="text-cards">
              <h3>History</h3>
              <p>
                You've heard about the Great Pyramids of Giza, but Egypt has
                much more magic and mystique to offer. The vastness and
                diversity of our history will inspire you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <img class="img-fluid" src="assets/images/About03.png" alt="" />
            <div class="text-cards">
              <h3>Culture</h3>
              <p>
                The first thing you will notice is the warmth and hospitality of
                our people. Come and discover the richness of our way of life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section About-Egypt -->

  <!-- Start Section Discover-egy -->
  <div class="discover-egypt text-center pb-5">
    <div class="cover-discover">
      <h1 class="animated-left">Discover Egypt</h1>
    </div>

    <div class="text container p-4">
      <h1>Discover Egypt</h1>
      <p class="text-black-50 pb-5">
        Egypt is a land of wonder, a place where ancient history and modern
        culture come together to create a unique and unforgettable experience.
        For those who are fascinated by the mysteries of the past, there is no
        better destination than Egypt. With its ancient temples, pyramids, and
        tombs, the country is steeped in history and offers a glimpse into the
        lives of the people who lived there thousands of years ago. <br /><br />
        If you are looking for the ultimate Egypt experience, then you need to
        consider Egypt travel packages. With these packages, you can explore the
        country's most iconic sights and immerse yourself in its rich culture.
        From the bustling city of Cairo to the tranquil beauty of the Nile,
        there is something for everyone in Egypt. <br /><br />
        One of the most popular ways to see Egypt is by taking a Nile cruise.
        This iconic river is the lifeblood of the country, and a cruise along
        its waters allows you to see some of the most significant historical
        sites in the country. As you sail along the Nile, you'll pass by ancient
        temples, tombs, and ruins that are thousands of years old. You'll also
        have the opportunity to see the modern cities that have grown up around
        the river, giving you a glimpse into the daily life of the Egyptian
        people.
        <br /><br />But Egypt is much more than just the Nile. It is a country
        of vibrant, bustling cities, each with its unique character and charm.
        Cairo, the capital, is a bustling metropolis that is home to some of the
        most famous landmarks in the world, including the Pyramids of Giza, the
        Sphinx, and the Egyptian Museum. But it's also a city that is full of
        life, with lively markets, delicious food, and friendly people
      </p>
    </div>
    <div class="video-container">
      <iframe
        width="450"
        height="310"
        src="https://www.youtube.com/embed/FiS1NPDHBVs?mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>
  <!-- End Section Discover-egy -->

  <!-- Start Section Where-to-go -->
  <div class="where-go text-center container py-4">
    <h1>Where to Go ?</h1>
    <p class="text-black-50 pb-3">
      Egypt is a country rich in history, culture, and breathtaking landscapes.
      Its most iconic destination is the Pyramids of Giza, a testament to the
      ancient Egyptians' architectural genius. Cairo, the bustling capital, is
      home to the impressive Egyptian Museum, housing thousands of ancient
      artifacts, including the treasures of King Tutankhamun. Luxor, often
      called the world’s greatest open-air museum, offers visitors the
      awe-inspiring Karnak Temple and the Valley of the Kings, where pharaohs
      were laid to rest. For those seeking relaxation, the Red Sea resorts of
      Hurghada and Sharm El Sheikh offer stunning coral reefs, making Egypt a
      premier destination for snorkeling and diving. Whether exploring the
      wonders of ancient civilizations or enjoying the natural beauty of the
      desert and sea, Egypt offers a diverse range of attractionss
    </p>
    <div class="card">
      <img src="assets/images/egypt.webp" alt="Egypt" />
      <div class="text-btn">
        <p>Pick your destination and start your Egypt experience now.</p>
        <a class="btn" (click)="handleNavigate('/where-to-go')">
          Go To Where-To-Go Page Now!
        </a>
      </div>
    </div>
  </div>
  <!-- End Section Where-to-go -->

  <!-- Start Section Useful-Info -->
  <div class="useful_info text-center py-5">
    <h1>Useful Information</h1>
    <h3>How to Get There ?</h3>
    <ul class="list-unstyled">
      <li *ngFor="let airport of airports">
        <a [href]="airport.url" target="_blank">{{ airport.name }}</a>
      </li>
    </ul>
  </div>
  <!-- End Section Useful-Info -->

  <!-- Start Section Useful_Numbers -->
  <div class="Useful_Numbers text-center pt-5 pb-2">
    <div class="text">
      <h3>Useful Numbers</h3>
      <p class="text-black-50 pb-3">
        We wish you a pleasant stay, but just to be extra safe, keep these
        numbers handy for quick and easy access in case of inquiries,
        suggestions, or emergencies! <br />They will be sent to you via SMS upon
        arrival.
      </p>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Numbers</th>
      </tr>
      <tr>
        <td>Ministry of Tourism and Antiquities</td>
        <td>19654</td>
      </tr>
      <tr>
        <td>Tourist Police</td>
        <td>126</td>
      </tr>
      <tr>
        <td>Ambulance</td>
        <td>123</td>
      </tr>
      <tr>
        <td>Air Hospital Service</td>
        <td>+(202) 377 66392/3</td>
      </tr>
      <tr>
        <td>Telephone Guide</td>
        <td>140</td>
      </tr>
      <tr>
        <td>Cairo Airport Shuttle Bus</td>
        <td>19970</td>
      </tr>
      <tr>
        <td>Gas Emergency</td>
        <td>129</td>
      </tr>
      <tr>
        <td>Fire services</td>
        <td>180</td>
      </tr>
    </table>
  </div>
  <!-- End Section Useful_Numbers -->

  <div class="btn-go-login text-center mb-5">
    <a class="btn" (click)="handleNavigate('/login')">
      Go To Login Page Now!
    </a>
  </div>
</div>
