<section class="luxor pb-5" id="go-luxor">
  <div class="cover-luxor position-relative">
    <h1 class="position-absolute text-white">Luxor day tours</h1>
  </div>

  <div class="container text-center">
    <h2 class="pt-5 pb-3 text-start">Luxor day tours</h2>
    <p class="text-start">
      Luxor city is mainly located on the two banks of the Nile, south Egypt.
      The city has important historical significance for being the capital of
      ancient Egypt during the 16th–11th centuries B.C after the old capital of
      Memphis. Enjoy Luxor day tours, Luxor was called "Thebes" and was divided
      by the Nile banks. In the East bank, priests believed it was for
      worshipping gods and devoting sanctuary temples for deities. Luxor day
      tours on the East bank include all the worshipping temples that were
      dedicated to Amun Ra', God of the sun. While the ancient Egyptians and
      priests believed that the east bank was for the hidden powers of gods, the
      West Bank was the afterlife gate, and where all the funerary temples tombs
      took place. Luxor day tours will introduce you both to the West and East
      banks.
    </p>
    <h2 class="pb-2 text-start">
      Most Popular Luxor day trips | Luxor sightseeing
    </h2>
    <p class="text-start">
      Know that through your visit to Luxor attractions, it means that you visit
      the third of the world's monuments since it is the most treasured not only
      of Egypt tours but of the whole World. You can have each bank of them on
      separate Luxor Excursions, or you can combine both bank attractions in the
      same Luxor sightseeing tours. Today, the city is featured by huge
      surviving ancient monuments and archaeological sites like Luxor Temple,
      Karnak Temple, and The royal tombs of the Valley of the Kings and the
      Valley of the Queens. Luxor day tours include many more attractions, like
      Hatshepsut temple and the colossi of Memnon. Through Travel to Egypt as a
      leading travel agency is making sure to organize the Luxor day trips that
      include all Luxor attractions mentioned to give you such a wonderful
      lifetime experience in Egypt day tours. There are things to do in Luxor
      besides visiting the marvelous Pharaonic temples, like an air balloon trip
      that allows you to view Luxor in a picturesque scene. It is also possible
      to try Aswan day tours via the Nile Cruise to Aswan and enjoy the most
      beautiful temples that embrace it, such as the Temple of Abu Simbel and
      the famous islands for it. Do not leave Aswan until after visiting the
      delightful Nubian village and Enjoying its welcoming people
    </p>
    <h1 class="my-5">
      The best excursions of <span class="span-style">Luxor</span> day tours
    </h1>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-sm-4">
        <div class="card position-relative">
          <div class="data-price position-absolute">
            <i class="fa fa-tags"></i>
            From: <span class="fw-bold">$75</span>
          </div>
          <img
            src="assets/images/imgs/luxor/East and West Nile Banks package tour_ff6ac_lg.jpg"
            alt=""
          />
          <div class="info pb-5">
            <h5>East and West Nile Banks tour</h5>
            <p class="pb-4 pt-4 text-black-50">
              Tour in Luxor on a budget. Visit the best of Luxor East and West
              Banks in one day. The tour Includes a visit to the Valley of the
              Kings, Queen Hatshepsut's Temple, Colossi of Memnon and a local
              lunch meal before
            </p>
          </div>
          <hr />

          <ul class="list-unstyled d-flex px-3">
            <li>
              <img
                src="assets/images/imgs/icon-tour.webp"
                class="icon-tour"
                alt=""
              />
              Private Tour
            </li>
            <li class="ms-auto">
              <img
                src="assets/images/imgs/icon-map.webp"
                class="logo-loc"
                alt=""
              />
              Approx. 8 Hours
            </li>
          </ul>
        </div>
      </div>

      <div *ngFor="let card of cardsLuxor" class="col-md-6 col-lg-4 mb-sm-4">
        <div class="card position-relative">
          <div class="data-price position-absolute">
            <i class="fa fa-tags"></i>
            From: <span class="fw-bold">${{ card.price }}</span>
          </div>
          <img [src]="card.imageUrl" alt="" />
          <div class="info">
            <h5>{{ card.title }}</h5>
          </div>
          <hr />

          <ul class="list-unstyled d-flex px-3">
            <li>
              <img
                src="assets/images/imgs/icon-tour.webp"
                class="icon-tour"
                alt=""
              />
              Private Tour
            </li>
            <li class="ms-auto">
              <img
                src="assets/images/imgs/icon-map.webp"
                class="logo-loc"
                alt=""
              />
              Approx. 6 Hours
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
